


.flowToHide{
  display:none;
}
.columnHeader tspan{
  font-size: 15px;
  visibility:hidden;
}
.columnHeader:hover{
  cursor: grab;
}

#alluvialContainer{
  font-family: Calibri;
  max-width:90%;
  max-height:90%;
  width:90%;
  height:auto;
  position:fixed;
  top:5%;
  left:5%;
  z-index:300001;
  background-color:white;
  overflow-y:auto;
  overflow-x:auto;
}



#sankeyCloseButton {
  position:fixed;
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 20101022;
  top: 1em;
  right: 1em;
  transition: all 0.5s ease;
}
#sankeyCloseButton span {
  margin: 0 auto;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#sankeyCloseButton span:first-of-type {
  transform: rotate(45deg) translate(14px, 14px);
}
#sankeyCloseButton span:nth-of-type(2) {
  opacity: 0;
}
#sankeyCloseButton span:last-of-type {
  transform: rotate(-45deg) translate(-11px, 11px);
}

#sankeyDialogDiv{
  font-family: Calibri;
  max-width:90%;
  max-height:90%;
  width:90%;
  height:90%;
  position:fixed;
  top:5%;
  left:5%;
  z-index:200001;
  background-color:white;
  overflow:hidden;
  padding:2%;
  box-sizing:border-box;
}
#sankeyContainer{
  margin-top:3%;
  width:100%;
  height:96%;
}
#sankeyOverlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.7);
  z-index:200000;
}

#sankeyBackToThemeTableButton{
  float:left;
  height:30px;
  margin-left:-2%;
  margin-top:-2%;
}
#sankeyBackToThemeTableButton:hover{
  cursor:pointer;
}



#themeColumnList {
  width:100%;
  position:absolute;
  z-index:3000000;
  display:block;
  list-style-type:none;
  padding-left:0px;
  margin-left:0px;
}
#themeColumnList li{
  float:left;
  font-size:15px;
  width:100px;
  max-width:100px;
  overflow:visible;
  cursor:grab;
  text-align:center;
  box-sizing:border-box;
}
#themeColumnList li:hover{
  font-weight:bold;
}

/*
#themeColumnList li:nth-child(1){
  margin-left: calc(7% + 10px + 10px - 50px) !important; // 15 = 30 (label width) / 2 AND 10 = 20 (node width) / 2
}

// two items
#themeColumnList li:first-child:nth-last-child(2), #themeColumnList li:first-child:nth-last-child(2) ~ li:nth-child(n+2) {
  margin-left: calc(86% - 40px - 100px);
}

// three items
#themeColumnList li:first-child:nth-last-child(3), #themeColumnList li:first-child:nth-last-child(3) ~ li:nth-child(n+2) {
  margin-left: calc(((86% - 40px) / 2) - 100px);
}

// four 2items
#themeColumnList li:first-child:nth-last-child(4), #themeColumnList li:first-child:nth-last-child(4) ~ li:nth-child(n+2) {
  margin-left: calc(((86% - 40px) / 3) - 100px);
}

// five items
#themeColumnList li:first-child:nth-last-child(5), #themeColumnList li:first-child:nth-last-child(5) ~ li:nth-child(n+2) {
  margin-left: calc(((86% - 40px) / 4) - 100px);
}

// six items
#themeColumnList li:first-child:nth-last-child(6), #themeColumnList li:first-child:nth-last-child(6) ~ li:nth-child(n+2) {
  margin-left: calc(((86% - 40px) / 5) - 100px);
}

// seven items
#themeColumnList li:first-child:nth-last-child(7), #themeColumnList li:first-child:nth-last-child(7) ~ li:nth-child(n+2) {
  margin-left: calc(((86% - 40px) / 6) - 100px);
}
*/

#themeColumnList li:nth-child(1), /*#themeColumnList li.ui-sortable-helper:nth-child(1) + li.ui-sortable-placeholder:nth-child(2), */#themeColumnList li.ui-sortable-helper:nth-child(1) + li:nth-child(2){
  margin-left: calc(7% + 10px + 10px - 50px) !important; // 15 = 30 (label width) / 2 AND 10 = 20 (node width) / 2
}

// two items
#themeColumnList .draggableColumnAlluvial.items2:nth-child(n+2){
  margin-left: calc(86% - 40px - 100px);
}

// three items
#themeColumnList .draggableColumnAlluvial.items3:nth-child(n+2){
  margin-left: calc(((86% - 40px) / 2) - 100px);
}

// four 2items
#themeColumnList .draggableColumnAlluvial.items4:nth-child(n+2){
  margin-left: calc(((86% - 40px) / 3) - 100px);
}

// five items
#themeColumnList .draggableColumnAlluvial.items5:nth-child(n+2){
  margin-left: calc(((86% - 40px) / 4) - 100px);
}

// six items
#themeColumnList .draggableColumnAlluvial.items6:nth-child(n+2){
  margin-left: calc(((86% - 40px) / 5) - 100px);
}

// seven items
#themeColumnList .draggableColumnAlluvial.items7:nth-child(n+2){
  margin-left: calc(((86% - 40px) / 6) - 100px);
}


/*
#themeColumnList li{
  float:left;
  font-size:15px;
  cursor:grab;
  overflow:hidden;
  text-align:center;
}
#themeColumnList li:hover{
  font-weight:bold;
}

#themeColumnList li:nth-child(1){
  text-align: left;
  padding-left: 2%;
  box-sizing: border-box;
}
#themeColumnList li:last-child{
  text-align: right;
  padding-right: 2%;
  box-sizing: border-box;
}
*/
